---
---
    
@import "bootstrap";

img { margin-bottom: 24px; 
     margin-top: 17px; 
    border-radius:2%;
}


body {
	padding-top: 70px;
	font-size: 18px;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
	.navbar-brand {
		font-size: 16px !important;
	}
}

figcaption {
    text-align: right;
    margin-top: -20px;
    margin-bottom: 20px;
}



/* Top navigation bar */

.navbar-brand {
	font-size: 24px;
	color: #000 !important;
	font-weight: 500;
	padding-top: 25px;
	padding-bottom: 25px;
	line-height: 20px;
}

.navbar-default {
	min-height: 70px;
}

.navbar-default .navbar-nav > li > a {
	color: #000 !important;
	font-size: 18px;
	padding-top: 25px;
	padding-bottom: 25px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #333 !important;
}

p.byline {
	text-align: center;
	font-size: 18px;
	line-height: 36px;
	margin-top: -24px;
	margin-bottom: 48px;
}


pubtit {
	font-weight: bold;
}

/* Publications page styling */
.publications-list {
	color: #555;
	font-weight: bold;
}

.publications-list em {
	color: #666;
	font-weight: normal;
}

.publications-list a {
	color: #337ab7;
	font-weight: normal;
}

/* News section styling */
.well h4 {
	margin-top: 0;
	margin-bottom: 15px;
	font-size: 18px;
	font-weight: bold;
}

.well strong {
	font-weight: bold;
	color: #000;
}

.well a {
	text-decoration: none;
}

.well a:hover {
	text-decoration: underline;
}

firstp {
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px; /* or 950px */
}

/* Home, News */
#newsid p {
	text-align: left;
}

#homeidtmp h1 {
	text-align: center;
}

#newsid img {
	margin-top: 6px;
	margin-bottom: 6px;
}

/* Team & Publications */
#gridid img { margin: 16px 22px 6px 0; border-radius:10%; box-shadow: 2px 2px 5px #888888 }
#homeid img { margin: 0 0 0 0; border-radius:5%; box-shadow: 0px 0px 0px #888888 }
#picid img { margin: 6px 3px 60px 6px; border-radius:1%; box-shadow: 2px 2px 5px #888888 }
#gridid .row { margin-bottom: 24px; }


/* Grid overrides */
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-5, .col-sm-6,
.col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
	padding-left: 16px;
	padding-right: 16px;
}

/* Grid overrides */
.col-sm-4 {
	padding-left: 26px;
	padding-right: 26px;
}


/* Carusel */

.carousel {
    border-radius: 3px 3px 3px 3px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

/* Research boxes */
.research-box {
    background-color: #f8f9fa;
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    padding: 25px;
    margin-bottom: 30px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    clear: both;
}

.research-box h3 {
    margin-top: 0;
    color: #2c3e50;
    border-bottom: 2px solid #3498db;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

/* Footer styling */
footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    margin-top: 50px;
}

footer p, footer a {
    color: #fff !important;
}

footer a:hover {
    color: #ccc !important;
}

/* Publications styling */
pubtit {
    font-weight: bold;
    color: #333;
}
